<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Light_Text.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Light_Text.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>20, 20</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>560, 320</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ShowEmojis" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProgrammerMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenLinks" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SmartHighlighting" serializeAs="String">
                <value>False</value>
            </setting>
        </Light_Text.Properties.Settings>
    </userSettings>
</configuration>